.header {
	@extend .cf;
	padding-bottom: 25px;
	min-height: 50px;
	//@include bg('../img/header.jpg');
	background-color: #d6d6d6;
	&-container-text{
		margin-top: 75px;
	}
	@include resp-min(md){
		padding-top: 10px;
		&-container-text{
			margin-top: 50px;
		}
	}
}