.vbtn {
  @extend .relative;
  @extend .block-inline;
  @extend .tdn;
  @extend .bold;
  @extend .transition;
  border: none;
  @include borderR(3px);
  max-width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
  &:before{
    @extend .pseudo;
    @extend .transition;
    z-index: -1;
  }
  @include resp-min(xs){
    @include size(text_default);
    // padding: 10px 40px;
    padding: 30px;
  }
  &-effect{
    @include transform(translateZ(0));
    &-skew{
      &:before{
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%; 
        opacity: 0;
        @include transform(translateX(-50%) translateY(-50%) rotate(45deg));
      }
      &:hover{
        &:before{
          height: calc(450% - 40px);
          opacity: 1;
        }
      }   
    } 
    &-bgtransition{
      &:before{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    @at-root{
      %defaultScaleYZero{
        &:before{
          @include transform(scaleY(0));
        }
        &:hover{
          &:before{
            @include transform(scaleY(1));
          }
        }
      }
    }
    &-shutter{
      @extend .vbtn-effect-bgtransition;
      &-vertical{
        &-out{
          @extend .vbtn-effect-shutter;          
          @extend %defaultScaleYZero;
        }
      }
      &-horizontal{
        &-out{
          @extend .vbtn-effect-shutter;
          &:before{
            @include transform(scaleX(0));
          }
          &:hover{
            &:before{
              @include transform(scaleX(1));
            }
          }
        }
      }
    }
    &-bounce{
      @extend .vbtn-effect-bgtransition;
      @extend %defaultScaleYZero;
      &:hover{
        &:before{
          -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
           transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
      }
      &-top{
        @extend .vbtn-effect-bounce;
        &:before{
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
        }
      }
      &-bottom{
        @extend .vbtn-effect-bounce;
        &:before{
          -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
        }
      }
    }
  }
  &-corp{
    background-color: setColor(corp);
    &:before{
      background-color: lighten(setColor(corp), 15%);
    }
  }
  &-single{
    @include resp-min(sm){
      margin-top: 70px;
    }
    @include resp-max(sm){
      margin-top: 35px;
    }
  }
}