body{
  color: setColor(black);
  @extend .regular;
  font-size: 14px;
  line-height: 1.42857143;
}
img{
  @extend .block-inline;
  max-width: 100%;
}
input{
  &:focus{
    &::-webkit-input-placeholder{
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
a{
  color: inherit;
  text-decoration: none;
}
a,button{
  cursor: pointer;
}
strong,.strong,b,.b{
  @extend .blacks !optional;
}
@for $i from 1 through 3{
  .z-index#{$i}{
    z-index: #{$i};
  }
}