.list{
  li{
    @extend .relative;
    &:before{
      @extend .pseudo;
      top: 0;
    }
  }
  &-numeric{
    counter-reset: item;
    li{
      &:before{
        content: "0" counter(item);
        counter-increment: item;
        color: setColor(black);
        @extend .blacks;
      }
    }
    &-small{
      li{
        &:before{
          font-size: 42px;
        }
      }
    }
    &-half{
      font-size: 0;
      li{
        font-size: 14px;
        &:before{
          line-height: 1;
        }
      }
    }
  }
  @include resp-max(sm){
    &-numeric{
      &-half{
        text-align: center;
        li{
          margin-bottom: 15px;
          &:before{
            display: block;
            position: relative;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @include resp-min(sm){
    &:before{
      left: 0;
    }
    &-numeric{
      &-half{
        li{
          display: inline-block;
          width: 50%;
          padding-left: 60px;
          &:before{
            left: 0;
            top: 50%;
            margin-top: -21px;
          }
        }
      }
    }
    &-inner{
      margin-bottom: 10px;
    }
  }
  @include resp-max(lg){
    &-numeric{
      &-half{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}