//SETTING FOR DEFAULT FONT
$colors: (
	black: (
		base 	: #333,
		light : #ddd,
		dark	: #1a1a1a
	),
	green: (
		base 	: #5bb85d
	),
	red: (
		base  : #bb1b29
	),
 	corp: (
		base	: #ff8001,
		light : #ffaa54
 	),
 	light: (
		base  : #fff
 	)
);

$sizes: (
	text_smaller    : 12px,
	text_small      : 14px,
	text_default    : 18px
);

$breakpoints: (
  lg:   1200px,
  md:   1025px,
  sm:   768px,
  xs:   480px,
  exs:  320px
);

$grid-system: (
	columns 							: 12,
	columnName            : "vcol",
	width 								: 100%,
	gutter 								: 15px,
	containerWidth 				: 1000px,
	containerSmallWidth 	: 970px,
	menuExists            : false,
	menuViewBreakpoint    : map-get($breakpoints, md)
);

$columns         		: map-get($grid-system, columns);
$columnName         : map-get($grid-system, columnName);
$width           		: map-get($grid-system, width);
$gutter          		: map-get($grid-system, gutter);
$container       		: map-get($grid-system, containerWidth);
$container-small 		: map-get($grid-system, containerSmallWidth);
$menuDirection    	: map-get($grid-system, menuDirection);