/* ===================== 
Start: START FOOTER      
======================== */
.footer{
	@extend .cf;
	padding: 30px 15px;
	background-color: #1a1a1a;
	color: #7f7f7f;
	&-b{
		@extend .block-inline;
		vertical-align: middle;
		margin: 0 15px;
	}
	a{
		@extend .tdn;
		@extend .light !optional;
	}
	@include resp-min(md){
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
/* =====================
End:  START FOOTER
======================== */