.bg{
  &-black{
    background-color: #1a1a1a;
  }
  &-grey{
    &-dark{
      background-color: #323232;
    }
    &-normal{
      background-color: #414141;
    }
    &-light{
      background-color: #4c4c4c;
      &-normal{
        background-color: #fefefe;
      }
      &-very{
        background-color: #eaeaea;
      }
    }
  }
}
.color{
  &-light{
    color: setColor(light);
  }
  &-red{
    color: setColor(red);
  }
}
.bg{
  &-common{
    @include bg("../img/bg-common.jpg");
  }
  &-every{
    @include bg("../img/bg-every.jpg");
  }
  &-inner{
    padding-top: 45px;
    padding-bottom: 45px;
    @include resp-min(md){
      padding: 75px 65px;
      &-big{
        padding-top: 90px;
        padding-bottom: 90px;
      }
    }
    &-shadow{
      @include shadow(0 0 100px rgba(11,11,12,.05));
    }
  }
}
.warning{
  &-inner{
    @include resp-max(lg){
      font-size: 11px;
      width: 80%;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.content{
  background-color: #fbfbfb;
  &-wrapper{
    margin-top: 50px;
  }
  &-wrap{
    margin-bottom: 30px;
  }
  &-wrap:nth-child(even) &{
    background-color: #f2f2f2;
  }
  &-wrap-empty &{
    background-color: transparent !important;
  }
  @include resp-min(md){
    min-height: 340px;
    padding: 50px 50px 30px;
    &-wrap:first-child &-title{
      margin-top: 10px;
    }
  }
}